<#include "/admin/header.ftl">

<h1>Organizations</h1>

<div class="table-responsive">
    <form method="post" action="/admin/organization/create">
        <input type="text" name="name"/>
        <input type="submit" value="Create"/>
    </form>
</div>

<#include "/admin/footer.ftl">


