<html>
<head>
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
</head>
<body>

<#include "/admin/menu.ftl">