<div>
    <ul>
        <li><a href="/admin/order/list">Orders</a></li>
        <li><a href="/admin/message/list">Messages</a></li>
        <li><a href="/admin/person/list">Persons</a></li>
        <li><a href="/admin/dialog/list">Dialogs</a></li>
        <li><a href="/admin/organization/list">Organizations</a></li>
    </ul>
</div>